{% extends 'base.html' %}


{% block content %}

<h3>{{ object.name }}</h3>

<h4>Click the link to add more images: <a href="{% url 'ledger:recipe-image-create' pk=recipe.pk %}">Here</a></h4>
    {% for image in object.images.all %}
        {% if image %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endif %}
    {% endfor %}

<h4>Created by: {{ object.author }}</h4>
<ul>
    {% for ingredient in object.ingredients.all  %}
        <li>{{ ingredient.ingredient.name }}: {{ ingredient.get_quantity }}</li>
    {% endfor %}
</ul>

<h4><a href="{% url 'ledger:recipe-list' %}">Return back to recipes</a></h4>
{% endblock %}