{% extends 'base.html' %}


{% block content %}

<h3>{{ object.name }}</h3>

    {% for image in object.images.all %}
    <h3>{{ image.image.url }}</h3>
        {% if image %}
            <img src="{{ image.image.url }}" alt="this is alt image">
        {% endif %}
    {% endfor %}

<h4>Created by: {{ object.author }}</h4>
<ul>
    {% for ingredient in object.ingredients.all  %}
        <li>{{ ingredient.ingredient.name }}: {{ ingredient.get_quantity }}</li>
    {% endfor %}
</ul>

{% endblock %}